<!DOCTYPE html>
<html lang="ar" dir="rtl">

<%- include('../partials/head.ejs') %>

<body class="g-sidenav-show rtl bg-gray-100">
 <%- include('../partials/sidebar.ejs') %>
  <main class="main-content position-relative max-height-vh-100 h-100 mt-1 border-radius-lg overflow-hidden">
    <!-- Navbar -->
    <%- include('../partials/navbar.ejs') %>
    <!-- End Navbar -->
    <div class="container-fluid py-4">
      <%- include('../partials/cards.ejs') %>
      <%- include('../partials/charts.ejs') %>
      <%- include('../partials/cardsinfo.ejs') %>
      <%- include('../partials/footer.ejs') %>
    </div>
  </main>

  <!--   Core JS Files   -->
     <%- include('../partials/scripts.ejs') %>
 </body>

</html>