<!doctype html>
<html lang="en" dir="rtl">
<%- include('../partials/head.ejs') %>

  <body class="  ">
    <!-- loader Start -->
    <div id="loading">
      <div class="loader simple-loader">
        <div class="loader-body"></div>
      </div>
    </div>
    <!-- loader END -->
    <%- include('../partials/sidebar.ejs') %>
      <main class="main-content">
        <div class="position-relative iq-banner">
          <!--Nav Start-->
          <%- include('../partials/navbar.ejs') %>

            <!--Nav End-->
        </div>
        <div class="conatiner-fluid content-inner mt-n5 py-0">
          <%- include('../partials/cards.ejs') %>
        </div>

        <!-- Footer Section Start -->
        <%- include('../partials/footer.ejs') %>
          <!-- Footer Section End -->
      </main>
      <!-- Wrapper End-->
      <!-- offcanvas start -->
      <%- include('../partials/offcanvas.ejs') %>

        <%- include('../partials/scripts.ejs') %>
  </body>

</html>